## Задание 1

Создайте массив Numpy под названием a размером 5x2, то есть состоящий из 5 строк и 2 столбцов. Первый столбец должен содержать числа 1, 2, 3, 3, 1, а второй - числа 6, 8, 11, 10, 7. Будем считать, что каждый столбец - это признак, а строка - наблюдение. Затем найдите среднее значение по каждому признаку, используя метод mean массива Numpy. Результат запишите в массив mean_a, в нем должно быть 2 элемента.

In [1]:
import numpy as np

In [8]:
a = np.array([[1, 2, 3, 3, 1], [6, 8, 11, 10, 7]]).transpose()
print(a)

[[ 1  6]
 [ 2  8]
 [ 3 11]
 [ 3 10]
 [ 1  7]]

In [9]:
mean_a = np.mean(a, axis = 0)
print(mean_a)

[2.  8.4]

## Задание 2

Вычислите массив a_centered, отняв от значений массива “а” средние значения соответствующих признаков, содержащиеся в массиве 
mean_a. Вычисление должно производиться в одно действие. Получившийся массив должен иметь размер 5x2.

In [11]:
a_centered = a - mean_a
print(a_centered)

[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]

## Задание 3

Найдите скалярное произведение столбцов массива a_centered. В результате должна получиться величина a_centered_sp. Затем поделите a_centered_sp на N-1, где N - число наблюдений.

In [26]:
t_a_centered = a_centered.transpose()
a_centered_sp = np.dot(t_a_centered[0], t_a_centered[1])
print(a_centered_sp)

8.0

In [24]:
a_centered_sp / (a_centered.shape[0] - 1)

2.0

# PANDAS

## Задание 1

Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].
Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные:  
[1, 1, 1, 2, 2, 3, 3],
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники']

In [27]:
import pandas as pd

In [28]:
authors = pd.DataFrame({'author_id':[1, 2, 3], 
                        'author_name':['Тургенев', 'Чехов', 'Островский']}, 
                       columns=['author_id', 'author_name'])
print(authors)

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [29]:
book = pd.DataFrame({'author_id':[1, 1, 1, 2, 2, 3, 3], 
                     'book_title':['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'], 
                     'price':[10, 20, 30, 40, 50, 60, 70]}, 
                    columns=['author_id', 'book_title', 'price'])
print(book)

   author_id            book_title  price
0          1           Отцы и дети     10
1          1                 Рудин     20
2          1     Дворянское гнездо     30
3          2      Толстый и тонкий     40
4          2       Дама с собачкой     50
5          3                 Гроза     60
6          3  Таланты и поклонники     70

## Задание 2

Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [30]:
authors_price = pd.merge(authors, book, on = 'author_id', how = 'outer')
print(authors_price)

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети     10
1          1    Тургенев                 Рудин     20
2          1    Тургенев     Дворянское гнездо     30
3          2       Чехов      Толстый и тонкий     40
4          2       Чехов       Дама с собачкой     50
5          3  Островский                 Гроза     60
6          3  Островский  Таланты и поклонники     70

## Задание 3

Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

In [31]:
top5 = authors_price.nlargest(5, 'price')
print(top5)

   author_id author_name            book_title  price
6          3  Островский  Таланты и поклонники     70
5          3  Островский                 Гроза     60
4          2       Чехов       Дама с собачкой     50
3          2       Чехов      Толстый и тонкий     40
2          1    Тургенев     Дворянское гнездо     30

## Задание 4

Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и mean_price,
в которых должны содержаться соответственно имя автора, минимальная, максимальная и средняя цена на книги этого автора.

In [34]:
authors_stat = authors_price.groupby('author_name').agg({'price':['min', 'max', 'mean']})
print(authors_stat)

            price
              min max  mean
author_name
Островский     60  70  65.0
Тургенев       10  30  20.0
Чехов          40  50  45.0

In [35]:
authors_stat = authors_stat.rename(columns={'min':'min_price', 'max':'max_price', 'mean':'mean_price'})
print(authors_stat)

                price
            min_price max_price mean_price
author_name
Островский         60        70       65.0
Тургенев           10        30       20.0
Чехов              40        50       45.0